@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    background-color: #040B14;
    color: white;
}

.container{
    /* border: 2px solid white; */
    box-shadow: rgba(6, 6, 7, 0.726) 1px 5px 15px;
    width: 95%;
    height: 95vh;
    margin: auto;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.digitalClock{
    box-shadow: rgb(0, 0, 0) 1px 5px 15px;
}
.digitalClock h1{
    /* border: 2px solid wheat; */
    margin: 0 10px;
    padding: 10px;
    font-size: 5rem;
    font-weight: bold;
    display: inline-block;
    /* text-align: center; */
}

@media(max-width:768px){
    #bar1, #bar2, #bar3{
        display: none;
    }

    .digitalClock{
        text-align: center;
        width: 100%;
    }

    .digitalClock h1{
        display: block;
        /* font-size: 3rem; */
    }
}

@media(max-width:480px){
    .digitalClock h1{
        font-size: 4rem;
    }
}